.header h1 {
    margin: 40px 0;
    font-weight: 100;
    text-align: center;
    color: rgb(75, 75, 75);
    font-family: "omnes-pro", sans-serif;
}

.btn {
    padding: 20px 10px;
    border: 0 rgba(0,0,0,0);
    border-radius: 2px;
    font-size: 110%;
    border-radius: 4px;
}

.btn:hover {
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

.btn-random {
    background: #e1f2fa;
    color: #5992aa;
}

.btn-start {
    background: #d3eda3;
    color: #72962e;
}

.form {
    text-align: center;
    margin-bottom: 40px;
}

.blocks {
    width: 900px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.blocks-row {
    clear: both;
}

.block {
    float: left;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.block.block-wall {
    background-color: #eee;
}

.block.block-start {
    background-color: #ffca95;
    border-color: #ffca95;
}

.block.block-end {
    background-color: #008ed4;
    border-color: #008ed4;
}

.block.block-walked {
    background-color: #ffca95;
    /*border-color: #ffca95;*/
}